mixin head()
  script.
    (function(w,d,s,l,i){
      w[l]=w[l]||[]
      w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'})
      var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),
          dl=l!='dataLayer'?'&l='+l:''
      j.async=true
      j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl
      f.parentNode.insertBefore(j,f)
    })(window,document,'script','dataLayer','GTM-K6XZCXGR')
  link(href='/fontawesome/css/fontawesome.css', rel='stylesheet')
  link(href='/fontawesome/css/solid.css', rel='stylesheet')
  link(href='/fontawesome/css/regular.css', rel='stylesheet')
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(rel='stylesheet', href='/dist/style.css')
  
  